####### attention ##############################################################
# There are more ".gitignore"-files in all folders, which should stay empty!
################################################################################
*.zip
*.tar
*.tgz
*.tar.gz
