<p ng-bind-html="'home.text' | i18n"></p>

<div class="sub-headline"><span class="glyphicon glyphicon-globe"></span> <span>{{ 'menu.domains' | i18n }}</span></div>
<p ng-bind-html="'home.text.domains' | i18n"></p>

<div class="sub-headline"><span class="glyphicon glyphicon-user"></span> <span>{{ 'menu.accounts' | i18n }}</span></div>
<p ng-bind-html="'home.text.accounts' | i18n"></p>

<div class="sub-headline"><span class="glyphicon glyphicon-envelope"></span> <span>{{ 'menu.addresses' | i18n }}</span></div>
<p ng-bind-html="'home.text.addresses' | i18n"></p>

<div class="sub-headline"><span class="glyphicon glyphicon-fire"></span> <span>{{ 'menu.tests' | i18n }}</span></div>
<p ng-bind-html="'home.text.tests' | i18n"></p>

<div class="sub-headline"><span class="glyphicon glyphicon-time"></span> <span>{{ 'menu.history' | i18n }}</span></div>
<p ng-bind-html="'home.text.history' | i18n"></p>

